.box {
    border-style: solid;
    border-color:black;
    width:fit-content;
    text-align:justify;
    padding:10px;
    display:inline-block;
    justify-content: center;
    margin-top: 2em;
}

.Form {
    font-size:x-large;
}

.Form input{
    width:20%;
    padding:5px;
    margin:2px;
    font-size: large;
    text-align:center;
}

.Form input[type="checkbox"]{
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.15em solid #007a7e;
    outline: none;
    cursor: pointer;
}

.Form label{
    font-size:large;

}

.Form .submit{
    background-color:springgreen;
    border-color:chartreuse;
    color:tomato;
    padding:5px;
    text-align: center;
}